
<%= simple_form_for @fuel_weekly_max_cap do |f| %>
  <%= f.input :max_ron_95_price %>
  <%= f.input :max_ron_97_price %>
  <%= f.input :max_diesel_price %>
  <%= f.submit %>
<% end %>

<p>Found a cheaper price?</p>
<p>You can contribute to the community by adding the price.</p>