<h3>Fuel price for Week <%= Time.now.strftime('%V') %> </h3>
(<%= (DateTime.current.beginning_of_week + 2).strftime("%d/%m/%Y") %> ~ <%= (DateTime.current.end_of_week + 2).strftime("%d/%m/%Y") %>)
<br/><br/>
<div class="card-deck">
  <div class="card card-inverse card-outline-warning" style="background-color: #444;">
    <div class="card-header text-warning text-center">
      <h3>Ron 95</h3>
    </div>
    <div class="card-block">
      <p>Max cap for this week is <strong><%= humanized_money_with_symbol @fuel_weekly_max_cap.max_ron_95_price if @fuel_weekly_max_cap.present? %>/L</strong></p>
      <% if user_signed_in? %>
        <p>Lowest price is <strong><%= humanized_money_with_symbol @fuels.ron_95.ron_95_price if @fuels.present? %>/L</strong>
        <br/> at <%= @fuels.ron_95.brand if @fuels.present? %>, <%= @fuels.ron_95.area if @fuels.present? %>, <%= @fuels.ron_95.state if @fuels.present? %></p>
      <% else %>
        <p>Please sign in to see the lowest price</p>
      <% end %>
    </div>
  </div>

  <div class="card card-inverse card-outline-success" style="background-color: #444;">
    <div class="card-header text-success text-center">
      <h3>Ron 97</h3>
    </div>
    <div class="card-block">
      <p>Max cap for this week is <strong><%= humanized_money_with_symbol (@fuel_weekly_max_cap.max_ron_97_price * 1.06) if @fuel_weekly_max_cap.present? %>/L</strong> (incl. 6% GST) </p>
      <% if user_signed_in? %>
        <p>Lowest price is <strong><%= humanized_money_with_symbol (@fuels.ron_97.ron_97_price * 1.06) if @fuels.present? %>/L</strong> (incl. 6% GST)
        <br/> at <%= @fuels.ron_97.brand if @fuels.present? %>, <%= @fuels.ron_97.area if @fuels.present? %>, <%= @fuels.ron_97.state if @fuels.present? %></p>
      <% else %>
        <p>Please sign in to see the lowest price</p>
      <% end %>
    </div>
  </div>

  <div class="card card-inverse card-blockquote" style="background-color: #444;">
    <div class="card-header text-muted text-center">
      <h3>Diesel</h3>
    </div>
    <div class="card-block">
      <p>Max cap for this week is <strong><%= humanized_money_with_symbol @fuel_weekly_max_cap.max_diesel_price if @fuel_weekly_max_cap.present? %>/L</strong></p>
      <% if user_signed_in? %>
        <p>Lowest price is <strong><%= humanized_money_with_symbol @fuels.diesel.diesel_price if @fuels.present? %>/L</strong>
        <br/> at <%= @fuels.diesel.brand if @fuels.present? %>, <%= @fuels.diesel.area if @fuels.present? %>, <%= @fuels.diesel.state if @fuels.present? %></p>
      <% else %>
        <p>Please sign in to see the lowest price</p>
      <% end %>
    </div>
  </div>
</div>
<br/>
<p>
  <%= link_to 'Show all prices', list_fuels_path, :class => 'btn btn-primary' %> 
  <%= link_to 'Add New Price', new_fuel_path, :class => 'btn btn-primary' %>
</p>
