<!DOCTYPE html>
<html>
<head>
  <title>Ron95.my</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render "shared/google_analytics" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/nav" %>

<div class='container'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

<%= render "shared/footer" %>

</body>
</html>
